@page "/dietresults"
@using WebsiteFirstDraft.Data.Models
@rendermode InteractiveServer
@inject DietQuestionnaireState DietState

<div class="container mt-5">

    @* PAGE TITLE *@ 
    <div class="text-center mb-4">
        <h2 class="fw-bold">Your Personalised Diet Recommendations</h2>
        <p class="text-muted">
            The diets below are ranked from most to least suitable based on your answers.
        </p>
    </div>

     @* DIET LIST  *@
    <div class="card shadow-sm">
        <div class="card-body">

            @foreach (var diet in GradedDiets)
            {
                <div class="d-flex justify-content-between align-items-center
                                border-bottom py-3">

                    @* DIET NAME WITH HOVER  *@
                    <span class="fw-semibold"
                          data-bs-toggle="tooltip"
                          title="@diet.Description">
                        @diet.Name
                    </span>


                @if(IsLinksDisplayed) {

                    @*DIET LINK*@
                    <span class="link-info">
                            <a href="@diet.Link">@diet.Link</a>
                    </span>
                }

                    @* GRADE *@ 
                    <span class="@diet.ColourClass">
                        @diet.Grade
                    </span>
                </div>
            }

        </div>
    </div>
</div>

<br />

<div class="d-sm-flex justify-content-around">

    @*Buttons will either add or remove the links by calling the appropriate method*@
    <button type="button" class="btn btn-success" @onclick="DisplayLinks">Add Diet Links</button>
    <button type="button" class="btn btn-danger" @onclick="RemoveLinks">Remove Diet Links</button>
</div>



